* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header .hdr-pic{
    width: 100%;
    height: 200px;
    background-size: cover;
}

.header .hdr-logo {
    position: absolute;
    top: 30px;
    right:700px;
    display: flex;
    width: 70%;
    height: 4rem;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2000px;
    background-color: #E6E6E6;
    margin-top: -50px;
}

.main-box-1 {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
} 

.parent-green {
    display: flex;
    justify-content: center;
    margin: 10px 15px;
}

.child-today-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28A711;
    width: 10%;
    height: 7rem;
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1px;
}

.child-convert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    background-color: #4CD035;
    width: 90%;
}

.convert-style  {
    /* margin: 15px;  */
    text-align: center;
    padding-top: 10px;
}

.convert-style p:first-child {
    display: block;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    padding-top: 5px;
}

.convert-style p:last-child {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bolder;

}

                             /* clock section */

.parent-clock {
    display: flex;
    justify-content: center;
}

.child-analog-clock {
    display: flex;
    justify-content: center;
    background-color: #434343d1;
    position: absolute;
    width: 250px;
    height: 250px;
    border: 5px solid blue;
    border-radius: 50%;
    margin-top: 30px;
    
}

#seconds-hand {
    position: absolute;
    width: 2px;
    height: 119px;
    background-color: rgba(255, 255, 255, 0.674);
    left: 120px;
    top: 11px;
    opacity: 50%;
    transform-origin: 0% 100%;
} 

#minutes-hand {
    position: absolute;
    width: 2px;
    height: 100px;
    left: 125px;
    top: 30px;
    background-color: rgb(64, 5, 181);
    transform-origin: 0% 100%;
}

#hours-hand {
     width: 4px;
     height: 80px;
     background-color: rgb(64, 5, 181);
     position: absolute;
     left: 130px;
     top: 50px;
     transform-origin: 0% 100%;
}

#center-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 46%;
    top: 50%;
}

.child-digital-clock p {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 50px;
    font-weight: bold;
    direction: ltr;
    margin-top: 350px;
    letter-spacing: 5px;
}

                    /* clock section end  */

.parent-main-text {
    /* display: flex; */
}

.parent-main-text  {
    /* display: flex; */
    margin-top: 100px;
}


.child-main-text p {
    display: inline-block;
    font-size: 20px;
    color: #434343;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
}

.child-main-text span {
    font-size: 14rem;
    color: #4343436f;
    font-weight: bold;
}


                    /* main text end  */


.parent-link-text {
    display:flex;
    float: left;
    direction: ltr;
    color: blue;
}

.child-link-text a {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    
}

.child-link-icon img {
    margin-top: 24px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    color: #ffffff;
}


                        /* link text end  */

.parent-calendar {
    display: flex;
    width: 35%;
    height: 600px;
    background-color: blue;
    margin: 20px 20px;
}

.child-calendar-header {
    display: flex;
}

.children-previous-month {
    display: inline-block;
    font-weight: bold;
    direction: ltr;
}



.children-previous-month img {
    display: inline-block;
    width: 30px;
    height: 30px;
}


.children-next-month {
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
}

.children-next-month img {
    display: inline-block;
    width: 30px;
    height: 30px;
}