* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header .hdr-pic{
    width: 100%;
    height: 200px;
    background-size: cover;
}

.header .hdr-logo {
    position: absolute;
    top: 30px;
    right:700px;
    display: flex;
    width: 70%;
    height: 4rem;
}

main {
    display: flex;
    justify-content: center;
    background-color: #E6E6E6;
    width: 100%;
    height:200rem ;
    margin-top:-60px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 65%;
    height: 20%;
    box-shadow: 1px 1px 1px 1px rgba(60, 60, 60, 0.276) ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.green {
    width: 80%;
}

.clock {
    
}


.today-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28A711;
   
    height: 7rem;
    color: #ffffff;
    font-size: 1.3rem;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin:15px 15px 0 1px ;
}

.date-convert {
    display: flex;
    justify-content: space-around;
    background-color: #4CD035;
    
    height: 7rem;
    margin:15px 0 0 0 ;
    text-align: center;
}

.date-convert p:first-child {
    color: #ffffff;
    margin-top: 1rem;
    border-bottom: 1px solid white;
    padding: 5px;
    
}

.date-convert p {
    color: #ffffff;
    margin-top: 10px;
}
            /* Analog clock */
.analog-clock {
    background-color: #434343d1;
    position: absolute;
    width: 250px;
    height: 250px;
    border: 5px solid blue;
    border-radius: 50%;
}

 #seconds-hand {
    position: absolute;
    width: 2px;
    height: 119px;
    background-color: rgba(255, 255, 255, 0.674);
    left: 127px;
    top: 10px;
    opacity: 50%;
    transform-origin: 0% 100%;
} 

#minutes-hand {
    position: absolute;
    width: 2px;
    height: 100px;
    left: 126px;
    top: 30px;
    background-color: rgb(64, 5, 181);
    transform-origin: 0% 100%;
}

#hours-hand {
     width: 4px;
     height: 80px;
     background-color: rgb(64, 5, 181);
     position: absolute;
     left: 50%;
     top: 50px;
     transform-origin: 0% 100%;
}

#center-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
}
 

         /* Analog clock end  */
           
         
         /* digital clock */


/* .digital-clock {
    display:inline-block;
    color: black;
    font-size: 20px;
    font-weight: bold;
}             */





