* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.header .hdr-pic{
    width: 100%;
    height: 200px;
    background-size: cover;
}

.header .hdr-logo {
    position: absolute;
    top: 30px;
    right:700px;
    display: flex;
    width: 70%;
    height: 4rem;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    margin-top: -50px;
    z-index: 1;
}

.main-box-1 {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(60, 60, 60, 0.276) ;
    z-index: 1;
} 

.parent-green {
    display: flex;
    justify-content: center;
    margin: 10px 15px;
}

.child-today-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28A711;
    width: 10%;
    height: 7rem;
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1px;
}

.child-convert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    background-color: #4CD035;
    width: 90%;
}

.convert-style  {
    /* margin: 15px;  */
    text-align: center;
    padding-top: 10px;
}

.convert-style p:first-child {
    display: block;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    padding-top: 5px;
}

.convert-style p:last-child {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bolder;

}

                             /* clock section */

.parent-clock {
    display: flex;
    justify-content: center;
}

.child-analog-clock {
    display: flex;
    justify-content: center;
    background-color: #434343d1;
    position: absolute;
    width: 250px;
    height: 250px;
    border: 5px solid blue;
    border-radius: 50%;
    margin-top: 30px;
    
}

#seconds-hand {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.674);
    left: 120px;
    top:30px;
    opacity: 50%;
    transform-origin: 0% 100%;
} 

#minutes-hand {
    position: absolute;
    width: 2px;
    height: 100px;
    left: 120px;
    top: 30px;
    background-color: rgb(64, 5, 181);
    transform-origin: 0% 100%;
}

#hours-hand {
     width: 4px;
     height: 80px;
     background-color: rgb(64, 5, 181);
     position: absolute;
     left: 120px;
     top: 50px;
     transform-origin: 0% 100%;
}

 #center-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 115px;
    top: 125px;
}  

.child-digital-clock p {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-size: 50px;
    font-weight: bold;
    direction: ltr;
    margin-top: 350px;
    letter-spacing: 5px;
}

                    /* clock section end  */

.parent-main-text {
    /* display: flex; */
}

.parent-main-text  {
    /* display: flex; */
    margin-top: 100px;
}


.child-main-text p {
    display: inline-block;
    font-size: 20px;
    color: #434343;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
}

.child-main-text span {
    font-size: 14rem;
    color: #4343436f;
    font-weight: bold;
}


                    /* main text end  */


.parent-link-text {
    display:flex;
    float: left;
    direction: ltr;
    color: blue;
}

.child-link-name a {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
    
}

.child-link-icon img {
    margin-top: 24px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    color: #ffffff;
}


                        /* link text end  */

.parent-calendar {
    display: flex;
}

.child-calendar {
    position: relative;
    width: 40%;
    height: 650px;
    background-color: #ffffff;
    margin: 20px 20px;
    box-shadow: 1px 1px 6px 1px rgba(60, 60, 60, 0.448);
}

.child-calendar-header {
    display: flex;
    justify-content: space-around;
}

.children-previous-month {
    display: flex;
    font-weight: bold;
    direction: ltr;
    margin-top: 25px;
}

.children-previous-month a { 
    text-decoration: none;
    color: #434343;
}

.children-previous-month img {
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    margin-right: -2px;
}

.children-main-date {
    display: flex;
    padding: 20px;
    letter-spacing: 2px;
}

.children-main-date a {
    font-size: 30px;
    color:#4CD035;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.children-main-date img {
    justify-content: center;
    color: #4CD035;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}



.children-next-month {
    display: flex;
    font-weight: bold;
    margin-top: 25px;

}

.children-next-month a{ 
    text-decoration: none;
    color: #434343;
}

.children-next-month img {
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: -4px;
}
        /* modal section  */

.modal {
    display: none;
}


.modal-content {
    width: 100%;
    margin: 30px;
    padding: 50px 1px;
    display: flex;
    flex-wrap: wrap;
    background-color: #d9d8d8;
    position: absolute;
    top: 60px;
    right: -30px;
    border-radius: 5px;
}

.close-btn {
    margin-right: 20px;
    margin-top: -30px;
    font-size: 1.5rem;
    color: red;
    border: 2px solid black;
    border-radius: 40%;
    padding: 5px;
    cursor: pointer;
}

.modal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: center;
}


.first-modal {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.second-modal {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.third-modal {
    font-size: 20px;
    cursor: pointer;
}


        /* header calendar end  */

.child-calendar-days {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    width: 90%;
    height: 7%;
    background-color: #555555;
    border-radius: 5px;
    margin-right: 25px;
}

.child-calendar-days div {
    justify-content: space-between;
}

            
                            /* calendar days name end */


.child-calendar-date-row-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.child-calendar-date-row-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.child-calendar-date-row-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.child-calendar-date-row-4 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.child-calendar-date-row-5 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* row end  */
      
.child-calendar-date-blk {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 75px;
    background-color: #fff;
    border: 3px solid #4CD035;
    border-radius: 5px;
}

.first-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.second-num {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
}

.third-num {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1.1rem; 
}

/* blk end  */

.child-calendar-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.button-go-today {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CD035;
    border: 1px solid #4CD035;
    border-radius: 5px;
    width: 90%;
    height: 50px;
}

.button-go-today a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
}

                   /* calendar days end  */

.parent-calendar-information {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 650px;
    margin-top: 20px;
    margin-right:20px;
    margin-left: 20px;
}

.header-calendar-information {
    width: 100%;
    height: 10%;
    margin-right: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.header-calendar-information h1 {
    color: #63D035;
    font-size: 2.5rem;
}

                     /* header information end  */

.days-calendar-information {
    width: 100%;
    
}

.days-calendar-information li {
    font-size: 1.1rem;
    padding: 5px;
    color: #747373;
}

.days-calendar-information li:hover {
   font-weight: bold;  
}
.days-calendar-information span {
    font-weight: bolder;
    margin-left: 10px;
}


                    /* calendar section end  */


.child-convert-header {
    display: inline-flex;     
    justify-content: center;
    width: 100%;
 }


 .child-convert-header p {
     display: inline-flex;
     font-size: 1.5rem;
     font-weight: bold;
     color: #63D035;
     border-bottom: 1px solid rgba(0, 0, 0, 0.286);
     padding: 10px;
 }

 .header-text {
    display: inline-flex;
 }


.parent-converter-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}


.child-converter-box {
    display: inline-flex;
    text-align: center;
    margin-top: 50px;
}

.type-label label{
    font-size: 30px;
}

.select-type option{
    display: flex;
}

#convertType {
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    opacity: .7;
}

.day-label label {
    font-size: 30px;
}

#dayType {
    opacity: .7;
    margin-left: 10px;
    padding: 10px;
    width: 70px;
    border-radius: 5px;
    font-size: 20px;
}

.month-label label {
    font-size: 30px;
}

#monthType {
    opacity: .7;
    padding: 10px;
    margin-left: 20px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
}

.year-label {
    display: flex;
}

.year-label label {
    font-size: 30px;
    margin-right: 15px;
}

#yearType {
    opacity: .7;
    padding: 10px;
    margin-left: 50px;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}


.convert-button button {
    padding: 15px;
    background-color: #4CD035;
    color: #ffffff;
    border: 1px solid #4CD035;
    border-radius: 5px;
    padding: 13px 150px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}

            /* converter box end */

.parent-date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 95%;
    height: 150px;
    overflow-y: hidden;
    background-color: #F5F5F5;
    border-bottom: 1px solid #43434343;
    border-top: 1px solid #43434343;
}

.child-date-box-1 {
    width: 20%;
    border-left: 1px solid #434343;
    padding: 22px;
}

.child-date-box-1 p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.child-date-box-1 img {
    background-color: #4CD035;
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.children-date-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

                /* date box 1 end  */

.child-date-box-2 {
    display: flex;
    justify-content: center;
    border-left: 1px solid #434343;
    padding: 10px;
    width: 20%;
}

.child-date-box-2 p {
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    padding: 5px;
}
            /* date box 2 end  */

.child-date-box-3 {
    display: flex;
    justify-content: center;
    border-left: 1px solid #434343;
    padding: 10px;
    width: 20%;
}

.child-date-box-3 p {
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    padding: 5px;
}
        /* date box 3 end  */

.child-date-box-4 {
    display: flex;
    justify-content: center;
    padding: 38px;
    width: 20%;
}

.child-date-box-4 p {
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    padding: 5px;
}

        /* date box 4 end  */


.parent-date-information {
     width:100%;
     height:150px;
     width:85%;
     margin-top:50px;
     font-size:20px;
}

#first-span {
    margin-left: 40px;
    font-weight: bolder;
}

        

.parent-date-information button {
    float: left;
    padding: 15px 100px;
    background-color: #4CD035;
    color: #ffffff;
    border: 1px solid #4CD035;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}    


.parent-date-information button:hover {
    background-color: #ffffff;
    color: #4CD035;  
    transition :1s ease-out;
}

                    /* date information end  */

.parent-header-book-section {
    display: inline-flex;
    justify-content: center;
    margin-top: 25px; 
    width: 100%;
}                   

.child-book-header {
    display:inline-flex;
    flex-wrap: wrap;
}

.parent-header-book-section p {
    display: inline-flex;
    flex-wrap: wrap;
    color: #4CD035;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #4343436b;
    padding-bottom: 30px;
}

        /* book header end  */

.parent-book-image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

        /* book image end  */

.parent-book-text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    /* text-align: center; */
    
    margin-top: 50px;
}

.child-book-text {
    width: 80%;
}

        /* book text end  */

.parent-app-download {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.child-app-space-1 {
    display: flex;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    
}

.child-app-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #CCCCCC;
}

.child-app-text-1 p {
    font-size: 2rem;
}


.child-app-text-2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color:#E6E6E6;
    overflow-y: hidden;
}

.child-app-text-2 p {
    margin-right:50px;
    font-size: 20px;
}

.child-download-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px;
}



.child-app-button-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    border: 1px solid #63D035;
    border-radius: 5px;
    background-color: #63D035;
    padding: 8px 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    
}

.child-app-button-top a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 40px;
}

.child-link-button-top {
    display: flex;
    
}

.child-logo-bazar {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #ffffff;
}

.child-logo-bazar img {
    display: flex;
    width: 60px;
    height: 60px;
    
}

/* .child-app-button-top img {
    margin-left: -30px;
    width: 60px;
    height: 60px;
} */


.child-app-button-bottom {
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #ffffff;
    border: 1px solid #63D035;
    border-radius: 5px;
    background-color: #63D035;
    padding: 5px 85px ;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
}

.child-app-button-bottom a {
    padding-left: 60px;
    text-decoration: none;
    color: #ffffff;
}

.child-download-android {
    display: flex;
    padding: 5px;
    border-right: 1px solid #ffffff;
}

.child-download-android img {
    width: 60px;
    height: 60px;
}


        /* download app section end */

.parent-print-calendar-a3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.child-print-a3-space-1 {
    display: flex;
    width: 95%;
    height: 150px;
    border-radius: 10px;
}

.child-print-a3-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    background-color: #CCCCCC;
    border-bottom-right-radius: 5px;
}

.child-print-a3-text-1 p {
    font-size: 2rem;
}

.child-print-a3-text-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    background-color:#E6E6E6; 
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
}

.child-print-a3-text-2 p {
    /* display: flex; */
    margin-right:50px;
    font-size: 20px;
}

.child-print-a3-text-2 span {
    font-weight: bold;
    margin-right: 10px;
}

.child-print-button-a3 {
    display: flex;
     margin: 20px;
}

.child-print-button-a3 {  
    display: flex;
    align-items: center;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #63D035;
    border: 1px solid #63D035;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
} 

.child-download-a3 a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 60px;
}

.child-download-logo-a3 {
    display: flex;
    border-right: 1px solid #ffffff;
}

.child-download-logo-a3 img {
    width: 90px;
    height: 60px;
}

        /* print calendar A3 end  */


.parent-print-calendar-a4 {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
        
.child-print-a4-space-1 {
    display: flex;
    width: 95%;
    height: 150px;
    border-radius: 10px;
}
        
.child-print-a4-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    background-color: #CCCCCC;
    border-bottom-right-radius: 5px;
}
        
.child-print-a4-text-1 p {
     font-size: 2rem;
 }
        
.child-print-a4-text-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    background-color:#E6E6E6; 
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
}
        
.child-print-a4-text-2 p {
    margin-right:50px;
    font-size: 20px;
 }
        
.child-print-a4-text-2 span {
    font-weight: bold;
     margin-right: 10px;
}
        
.child-print-button-a4 {
    display: flex;
    margin: 20px;
}
        
.child-print-button-a4 {  
    display: flex;
    align-items: center;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #63D035;
    border: 1px solid #63D035;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;
}

.child-print-button-a4 a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 60px;
}

.child-download-logo-a4 {
    display: flex;
    border-right:1px solid #ffffff ;
}

.child-download-logo-a4 img {
    width: 90px;
    height: 60px;
}


/* print calendar A4 end  */

/* .parent-footer {
    display: flex;  
    height: 200px;
    z-index: 20;
    background-color: #1F1F1F;
} */


.parent-footer a {
    /* justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #4CD035;
    border-radius: 50%;
    margin-top: -50px; */
}

/* .parent-footer img {
    
} */